body
{
    background-color: aqua;
}
ul {
    list-style-type: none;
    margin-top: -5px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    width: 1200px;
   
  }
  .mydiv
  {
      width: 650px;
      height: 200px;
     
  }
  
  .video
  {
    margin-left: 600px;  
    margin-bottom:-400px;
  }
  .mySlides {display:none;}
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}